
<footer>
    <ul class="footer-links">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>

    <p id="copyright">&copy;Kamboj All rights reserved</p>
</footer>
</body>
</html>
