</main>

<footer>
    <ul class="footer-links">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
    <p id="copyright">&copy;Kamboj All rights reserved</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/script.js" charset="utf-8"></script>

</body>
</html>
