<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogify Homepage</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">BLOGIFY</div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/CreatePost">Create Post</a></li>
                <li><a href="/health">Health</a></li>
                <li><a href="/tech">Tech</a></li>
                <li><a href="/travel">Travel</a></li>
                
            </ul>
        </nav>
    </header>

    <main>