<%- include("./partials/header.ejs") %>
<main class = "about">
        <section class="about-section">
            <h1>About Blogify</h1>
            <p>Welcome to Blogify, a vibrant community of bloggers passionate about sharing their insights, experiences, and stories. At Blogify, we believe everyone has a story to tell, and we provide the platform to make your voice heard.</p>
            <p>Whether you're a seasoned writer or just starting out, Blogify is the place to express yourself. We cover a wide range of topics, from the latest tech trends and health advice to travel experiences and more. Our mission is to empower individuals to share their knowledge and connect with a like-minded audience.</p>
            <p>If you're interested in becoming a contributor and reaching a wider audience, join us today and start writing your own blogs!</p>
            <a href="/createPost" class="btn create-post-btn">Start Writing</a>
        </section>
</main>

<%- include("./partials/footer.ejs") %>