<%- include("./partials/header.ejs") %>

        <div class="posts-grid content">
          
            <div id="b2" class="post-card">
                <h2 class="post-title">Conquering the Fear of Success</h2>
                <p class="post-excerpt">Fear of success is a common phenomenon that affects many individuals, and can often prevent them from achievin...</p>
                <button class="read-more-btn" data-blog-id="blog2">Read More</button>
            </div>

            <div id="b3" class="post-card">
                <h2 class="post-title">Prioritizing Employee Well-Being: The Significance of Mental Health Days</h2>
                <p class="post-excerpt">In today's relentless and high-pressure work landscape, the inclusion of mental health days is pivotal for safeguarding the well-being of em...</p>
                <button class="read-more-btn" data-blog-id="blog3">Read More</button>
            </div>

            <div id="b6" class="post-card">
                <h2 class="post-title">Unlocking the Power of Sleep Hygiene</h2>
                <p class="post-excerpt">Sleep hygiene—a term that encapsulates a set of practices and habits—is the guardian of profound transformation in your life. These pra...</p>
                <button class="read-more-btn" data-blog-id="blog6">Read More</button>
            </div>

            <div id="b9" class="post-card">
                <h2 class="post-title">Exercise for Mental Health: The Why and How</h2>
                <p class="post-excerpt">In the intricate tapestry of our well-being, mental health forms a pivotal thread, and ex...</p>
                <button class="read-more-btn" data-blog-id="blog9">Read More</button>
            </div>

            <div class="post-card">
                <h2 class="post-title">Post Title</h2>
                <p class="post-excerpt">Your blog content will go here...</p>
                <button class="read-more-btn" data-blog-id="nil">Read More</button>
            </div>
          


        </div>

        
        
        <%- include("./partials/footer.ejs") %>