<%- include("./partials/header.ejs") %>

        <div class="posts-grid content">
            
            <div id="b1" class="post-card">
                <h2 class="post-title">The Transformative Impact of VR on Our World</h2>
                <p class="post-excerpt">In my role as a virtual reality specialist, I can't help but marvel at how this groundbreaking technology has evolved from the realm of science fiction into a transfor...</p>
                <button class="read-more-btn" data-blog-id="blog1">Read More</button>
            </div>

            <div id="b5" class="post-card">
                <h2 class="post-title">Navigating the Ethics of Artificial Intelligence</h2>
                <p class="post-excerpt">Artificial intelligence (AI) is undergoing a seismic transformation across industries, spanning healthcare, finance, education, and transportation. Howe...</p>
                <button class="read-more-btn" data-blog-id="blog5">Read More</button>
            </div>

            <div id="b8" class="post-card">
                <h2 class="post-title">Guardians of Your Digital Fortress</h2>
                <p class="post-excerpt">In an era dominated by technology and the internet, safeguarding your personal and sensitive information online has assumed paramount signific...</p>
                <button class="read-more-btn" data-blog-id="blog8">Read More</button>
            </div>
         
            <div class="post-card">
                <h2 class="post-title">Post Title</h2>
                <p class="post-excerpt">Your blog content will go here...</p>
                <button class="read-more-btn" data-blog-id="nil">Read More</button>
            </div>

        </div>

        
        
        <%- include("./partials/footer.ejs") %>