<%- include("./partials/header.ejs") %>

        <div class="posts-grid content">

            <div id="b4" class="post-card">
                <h2 class="post-title">From Hobbies to Globetrotting Adventures</h2>
                <p class="post-excerpt">With the hustle and bustle of daily life, hobbies serve as a cherished respite—a means to unwind, delve into new interests, and acquir...</p>
                <button class="read-more-btn" data-blog-id="blog4">Read More</button>
            </div>
        
            <div id="b7" class="post-card">
                <h2 class="post-title">Unveiling Adventure: Top 10 Off-the-Beaten-Path Destinations for Brave Explorers</h2>
                <p class="post-excerpt">For those intrepid souls who yearn to venture beyond the well-trodden tourist trails, the world harbors a treasure trove of hi...</p>
                <button class="read-more-btn" data-blog-id="blog7">Read More</button>
            </div>

            <div id="b10" class="post-card">
                <h2 class="post-title">Capturing Wanderlust: The World's Most Instagrammable Destinations</h2>
                <p class="post-excerpt">With the rise of Instagram, travel enthusiasts have found a captivating platform...</p>
                <button class="read-more-btn" data-blog-id="blog10">Read More</button>
            </div>

            
            <div class="post-card">
                <h2 class="post-title">Post Title</h2>
                <p class="post-excerpt">Your blog content will go here...</p>
                <button class="read-more-btn" data-blog-id="nil">Read More</button>
            </div>


        </div>

        
        
        <%- include("./partials/footer.ejs") %>