

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    height: 100%;
}

#main {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 34px;
    font-weight: bold;
}

ul.nav-links{
    padding-right: 40px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

/* Read more part for Blogs */
#header2{
    padding: 10px 0;
}

.blog-post {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding-bottom: 60px;
}

.post-title {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.post-meta {
    font-size: 0.9rem;
    color: #777;
} 


.btn {
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid transparent;  
    border-radius: 4px;
}


.edit-btn {
    background-color: white;
    color: black;
    border: 1px solid black; 
}


.edit-btn:hover {
    background-color: #1a73e8;
    color: white;
}

form[action^="/delete/"] {
    display: inline-block;
}

.delete-btn {
    background-color: white;
    color: black;
    border: 1px solid black; 
}


.delete-btn:hover {
    background-color: #ea4335;
    color: white;
}


.post-actions {
    text-align: right;
    margin-top: 20px; 
}


.article {
    clear: both;
}


.post-content {
    margin-top: 20px;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Here the read more part ends */

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

p#copyright{
    margin-top: 0px;
    text-align: right;
    padding-right: 20px;
}


.footer-links {
    list-style: none;
    margin-bottom: 0px;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}
